<div class="row">
  <% spots.each do |spot| %>
    <div class="col-md-4 mb-4">
      <div class="card spot-card h-100">
        <div class="card-body">
          <%= cl_image_tag(spot.photos.first.key, class: "img-fluid rounded-top", crop: :fill) if spot.photos.attached? %>
          <!-- Add the title here -->
          <h5 class="card-title mt-2"><%= spot.title %></h5>
        </div>
        <div class="featured-spot-meta">★ <%= spot.description %> </div>
        <div class="featured-spot-meta">📍Lat: <%= spot.address %></div>
        <div class="featured-spot-desc">Size: <%= spot.length %>m X <%= spot.height %>m X <%= spot.width %>m </div>
        <div class="featured-spot-desc"><%= spot.category %></div>
        <div class="featured-spot-footer">
          <span class="price-tag"><%= number_to_currency spot.rate %>/day</span>
          <%= link_to "Book", new_spot_booking_path(spot), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
