
  <h2>Browse through available spots</h2>

  <!-- Le contrôleur est ici sur le parent commun -->
  <div class="row" data-controller="filter">
    <%= form_with url: spots_path, method: :get,
      html: {
        class: "row gx-2 align-items-end mb-4",
        data: {
          filter_target: "form",
          action: "change->filter#search"
        }
      } do %>
      <div class="col-md-2">
        <%= select_tag :category, options_for_select(['storage', 'parking', 'garage'], params[:category]), include_blank: "All", class: "form-select" %>
      </div>

      <div class="col-md-3">
        <%= text_field_tag :location, params[:location], placeholder: "Enter location...", class: "form-control" %>
      </div>

      <div class="col-md-2">
        <%= number_field_tag :length, params[:length],min: 0, placeholder: "Min length (m)", class: "form-control rounded-pill px-3 py-2" %>
      </div>

      <div class="col-md-2">
        <%= number_field_tag :width, params[:width],min: 0, placeholder: "Min width (m)", class: "form-control rounded-pill px-3 py-2" %>
      </div>

      <div class="col-md-2">
        <%= number_field_tag :height, params[:height],min: 0, placeholder: "Min height (m)", class: "form-control rounded-pill px-3 py-2" %>
      </div>
    <% end %>

    <!-- MAP -->
    <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        class="mt-5 my-5">
    </div>

    <!-- DYNAMIC RESULTS -->
    <div id="results" data-filter-target="results">
        <%= render partial: "spots_list", locals: { spots: @spots } %>
    </div>
  </div>

  <% if @spots.empty? %>
    <div class="alert alert-warning text-center w-100">
      No spots match your search criteria.
    </div>
  <% end %>
</div>
