<div class="spots-logo-container">
  <%# <%= image_tag "https://res.cloudinary.com/dg5qvbxjp/image/upload/v1748375631/ChatGPT_Image_May_27_2025_at_02_53_12_PM_iz8dcr.png", alt: "Logo", class: "spots-logo" %>
</div>
<div class="container">
  <h1>Spots</h1>
  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-md-4 mb-4">
        <div class="card spot-card h-100">
          <div class="card-body">
            <%= cl_image_tag(spot.photos.first.key, class: "img-fluid rounded-top", crop: :fill) if spot.photos.attached? %>
            <h5 class="card-title"><%= link_to spot.title, spot_path(spot) %></h5>
            <p class="card-subtitle">
              <%= spot.category.capitalize %>
            </p>
            <p class="card-text"><%= truncate(spot.description, length: 100) %></p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <span class="price-tag"><%= number_to_currency spot.rate %>/day</span>
            <%= link_to "Book", new_spot_booking_path(spot), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
