<h1>New Spot</h1>
<%= simple_form_for @spot do |f| %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :lat %>
    <%= f.input :long %>
    <%= f.input :length %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.submit %>
<% end %>