<div class="container">
    <h1>New Spot</h1>
    <%= simple_form_for @spot do |f| %>
        <%= f.input :description %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :category, as: :select, collection: ['storage', 'parking', 'garage'] %>
        <%= f.input :lat %>
        <%= f.input :long %>
        <%= f.input :length %>
        <%= f.input :width %>
        <%= f.input :height %>
        <%= f.input :rate %>
        <%= f.submit %>
    <% end %>
</div>
