<div class="container">
    <h1>Spots </h1>
    <div class="mt-4">
        <% @spot.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid mb-3" %>
        <% end %>
        <h2><%= @spot.description%></h2>
        <p>hosted by - <%= @spot.user.first_name%> <%= @spot.user.last_name%></p>
        <p>Location: <%= @spot.lat%> <%= @spot.long%></p>
        <p>Rate: <%= @spot.rate%> per day</p>
        <p>Dimensions: <%= @spot.length%>' X <%= @spot.width%>' X <%= @spot.height%>'  </p>
    </div>

</div>

