
<h1>Connexion</h1>
<%= form_with url: user_session_path, local: true do |f| %>
  <div class="field mb-3">
    <%= f.label :email, "Adresse e-mail" %><br>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :password, "Mot de passe" %><br>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Conection", class: "btn btn-primary" %>
  </div>
<% end %>