<h1>Reservation Status #<%= @booking.id %></h1>

<p>
  <strong>Curent status :</strong>
  <%= @booking.status%>
</p>

<p>
  <strong>Date of start :</strong>
  <%= l(@booking.start_date, format: :long) %><br>
  <strong>Date of end :</strong>
  <%= l(@booking.end_date,  format: :long) %>
</p>

<%= link_to "Return to my reservation", bookings_path, class: "btn btn-secondary" %>
