
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <!-- Brand -->
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <!-- Icône “S” dans un rond -->
      <span class="d-inline-flex align-items-center justify-content-center bg-primary text-white rounded-circle"
            style="width:32px; height:32px; font-size:1rem;">
        S
      </span>
      <span class="ms-2 fs-5">Spotswap</span>
    <% end %>

    <!-- Bouton hamburger mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens de navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Browse Spaces", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "How it Works", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "List Your Space", "#", class: "nav-link" %>
        </li>
      </ul>

      <!-- Boutons Log In / Sign Up -->
      <div class="d-flex">
        <%= link_to "Log In", "#", class: "btn btn-outline-primary me-2" %>
        <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</nav>